<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/header.ejs') %>
		<div class="formContainer">
			<h2>New Message</h2>
			<form action="/new" method="post">
				<label for="message">Message: </label>
				<textarea
					name="message"
					id="message"
					placeholder="Enter message"
					cols="40"
					rows="5"
					required
				></textarea>
				<label for="name">Name:</label>
				<input type="text" placeholder="Enter name" required />
				<button type="submit">Send</button>
			</form>
		</div>
	</body>
</html>
