<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/header.ejs') %>
		<div class="messagesContainer">
			<h2>Messages</h2>
			<ul>
				<% messages.forEach((message, index) => { %> <%-
				include('./partials/messages.ejs', {message, index}) %> <% }) %>
			</ul>
            <a class="linkButton" href="/new">Send message</a>
		</div>
	</body>
</html>
